<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Views Part 1</title>
</head>

<body>
    <h1>Meal List</h1>
    {% for meal in object_list %}
    <h2>{{meal.title}}</h2>
    <p>Protein: {{ meal.protein }}g</p>
    <p>Carbs: {{ meal.carbs }}g</p>
    <p>Fats: {{ meal.fats }}g</p>
    <p>Total Calories: {{ meal.total_calories }} kcal</p>
    <p>Created by: {{ meal.user.username }}</p> <!-- Assuming 'user' is the creator of the meal -->
    <p>Meal time: {{ meal.meal_time }}</p>
    <hr>
    {% empty %}
    <p>No meals found.</p>
    {% endfor %}
</body>

</html>