{% extends "base.html" %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg text-center">
                <div class="card-header bg-secondary text-white">
                    <h3>Access Restricted</h3>
                </div>
                <div class="card-body">
                    <p class="lead">You must be logged in to manage your meals.</p>
                    <p>
                        Please
                        <a href="{% url 'login' %}" class="btn btn-primary mx-1">Log In</a>
                        or
                        <a href="{% url 'signup' %}" class="btn btn-success mx-1">Sign Up</a>
                        to continue.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}