{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid vh-100">
    <div class="row h-100 gx-0">
        <!-- Munchy App description image -->
        <div class="col-lg-6 col-md-6 col-12 p-0 d-flex align-items-center justify-content-center">
            <img src="{% static 'images/munchybackground.jpg' %}" class="img-fluid" alt="Munchy Background">
        </div>
        <!-- Login/Sign Up Card -->
        <div class="col-lg-6 col-md-6 col-12 d-flex align-items-center justify-content-center bg-light">
            <div class="card shadow-lg text-center w-75">
                <div class="card-header bg-secondary text-white">
                    <h3>Access Restricted</h3>
                </div>
                <div class="card-body">
                    <p class="lead">You must be logged in to manage your meals.</p>
                    <p>
                        <a href="{% url 'login' %}" class="btn btn-primary mx-1">Log In</a>
                        or
                        <a href="{% url 'signup' %}" class="btn btn-success mx-1">Sign Up</a>
                        <br>
                        to access Munchy.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
