{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
<html>

<head>
    <title>{{ meal.title }}</title>
</head>

<body>
    <h1>{{ meal.title }}</h1>
    <p><strong>Protein:</strong> {{ meal.protein }}g</p>
    <p><strong>Carbs:</strong> {{ meal.carbs }}g</p>
    <p><strong>Fats:</strong> {{ meal.fats }}g</p>
    <p><strong>Total Calories:</strong> {{ meal.total_calories }} kcal</p>
    <p><strong>Meal Time:</strong> {{ meal.meal_time }}</p>

    <a href="{% url 'meal-update' meal.pk %}">Edit Meal</a>
    <a href="{% url 'meal-delete' meal.pk %}">Delete Meal</a>
    <a href="{% url 'home' %}">Back to Meal List</a>
</body>

</html>

{% endblock %}

{% block copyright %}
Copyright 2024 Bryan Murphy
{% endblock %}