{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
  <div class="row align-items-center">
    <!-- Text Column -->
    <div class="col-12 col-md-8 order-md-1">
      <h2>{{ about_us.title }}</h2>
      {{ about_us.content | safe }}
    </div>
    <!-- Image Column -->
    <div class="col-12 col-md-4 text-center order-md-2 order-first">
      <img src="{% static 'images/foodie.jfif' %}" width="640" height="360" class="img-fluid" alt="Food Image">
    </div>
  </div>
  <div class="row mt-3">
    <div class="col text-end">
      <p><em>Updated on: {{ about_us.updated_on }}</em></p>
    </div>
  </div>
</div>
{% endblock content %}
